<header>
 <img src="img/angular.svg" />
 <h1>{{ title }}</h1>
 </header>
 
 <main>
 <section class="todo-list">
 <div class="todo-item">
 
 				<button class="checkbox icon">
 	                <i class="material-icons">check_box_outline_blank</i>
 	            </button>
 
              <span class="title">Learn Angular 2</span>
 	
              <div class="actions">
                  <button class="delete icon">
                      <i class="material-icons">delete</i>
                  </button>
              </div>
          
          </div>
      </section>
  </main>  